    :root {
      --bg-light: #ffffff;
      --text-light: #000000;
      --bg-dark: #121212;
      --text-dark: #ffffff;
    }

   body {
      background-color: var(--bg-light);
      color: var(--text-light);
      transition: background-color 0.3s ease, color 0.3s ease;
      margin: 0;
      font-family: 'Arial', sans-serif;
      background: #97ece8;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
    }

    body.dark-mode {
      background-color: var(--bg-dark);
      color: var(--text-dark);
    }

    body.dark-mode .container {
      background-color: #1e1e1e;
      color: var(--text-dark);
    }

    body.dark-mode .profile-img {
      filter: none;
    }

     .toggle-btn {
      position: fixed;
      top: 20px;
      right: 20px;
      padding: 10px 20px;
      border: none;
      background-color: #535c54;
      color: white;
      font-size: 14px;
      align-items: left;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .container {
      width: 100%;
      max-width: 500px;
      background: #fff;
      border-radius: 16px;
      padding: 30px 20px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      margin-bottom: 20px;
      text-align: center;
    }

    .profile-img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto 20px auto;
      margin-bottom: 15px;
      text-align: center;
      display: block;
    }

    h1, h2, p{
      margin: 10px 0;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .link-btn {
      display: inline-block;
      width: fit-content;
      max-width: 400px;
      margin: 10px auto;
      padding: 12px 20px;
      background: #3694d3;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      text-decoration: none;
      transition: background 0.3s ease;
      align-items: left;
      text-align: left;
    }

    .link-btn:hover {
      background: #2cc0e6;
    }

    .link-btn:active {
      background: #1a8fbf;
    }

    .link-btn:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(54, 148, 211, 0.5);
    }

    @media (max-width: 600px) {
        .container {
            padding: 15px;
        }
        .link-btn {
            padding: 12px;
            font-size: 0.9rem;
        }
    }

    footer {
      text-align: center;
      margin-top: 40px;
      font-size: 0.8rem;
      color: #252424;
    }
